<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>NINP</title>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/templatemo.css">
    <link rel="stylesheet" href="assets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="cart.css">

</head>

<body>
    <!-- Start Top  -->
    <header th:replace="nav.html :: nav"></header>
    <!-- End Top  -->


    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <!-- page 1 home -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 purchaseOrder-lg-last">
                            <img class="img-fluid" src="assets/img/banner_img01_necklace.jpg" alt="Photo of a green necklace">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><strong><b>NINP</b></strong> </h1>
                                <h3 class="h2">Sofisticado y fino</h3>
                                <p>
                                    NINP es una marca de lujo que trabaja única y exclusivamente con los mejores materiales del mercado de forma sostenible de acuerdo con
                                    <a rel="sponsored" class="text-success" href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwjqv4Oym4v-AhU9jWgJHbv4D0IYABAAGgJ3Zg&ohost=www.google.com&cid=CAESa-D25Z2IT0B0NiowT5zaHqKEslfOFkFWfcUNxc78j0h2g3k7-_ywdYWyB5jJqGmp-ybA097cZAVUvWIcwHVAdvmkU-B7IDkSX0Cgy2N9j0i39iLmTw1TDsJ_NbOaUw8xV9NnQWkC4wu7fTkD&sig=AOD64_0ZSAu1Q90oJ0CnEOdwL53Ecm3whQ&q&adurl&ved=2ahUKEwjjnvuxm4v-AhXEZaQEHdTWDtgQ0Qx6BAgJEAE" target="_blank">GreenPeace</a> .
                                para lograr productos de calidad de manera responsable posible.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page 2 home -->
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 purchaseOrder-lg-last">
                            <img class="img-fluid" src="assets/img/banner_img02_girl.JPG" alt="Photo of jewelry">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">Calidad responsable</h1>
                                <h3 class="h2">Materiales hipoalergénicos</h3>
                                <p>
                                    Para todo tipo de pieles  sin descuidar la <strong>belleza</strong>
                                    propia de cada producto de NINP
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page 3 home -->
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 purchaseOrder-lg-last">
                            <img class="img-fluid" src="assets/img/banner_img03_boy.JPG" alt="Photo of jewelry">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">Para ellos </h1>
                                <h3 class="h2">Plata y oro </h3>
                                <p>
                                     Mismos diseños en distintos materiales para adaptarnos a todos los gustos.
                                    Todo tipo de <em>joyas</em> masculinas y femeninas.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->


    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Categorias del mes</h1>
                <p>
                    Lo más destacado del último mes, tendencia en toda Europa.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="shop"><img src="assets/img/month_men.jpg" class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">Colgante Zeus </h5>
                <p class="text-center"><a class="btn btn-success" href="shop">Comprar</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="shop"><img src="assets/img/related_shop_02.JPG" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Pendientes Wale</h2>
                <p class="text-center"><a class="btn btn-success" href="shop">Comprar</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="shop"><img src="assets/img/related_shop_04.JPG" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Collar Chain</h2>
                <p class="text-center"><a class="btn btn-success" href="shop">Comprar</a></p>
            </div>
        </div>
    </section>
    <!-- End Categories of The Month -->



    <!-- Start Featured Product -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Productos Destacados</h1>
                    <p>
                        Los más vendidos, para el y para ella.
                        Distintos diseños y materiales.
                    </p>
                </div>
            </div>
            <div class="row">
                <!-- Product1-->
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="product1">
                            <img src="assets/img/product1_img_shop.JPG" class="card-img-top" alt="Men with silver rings">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">

                                <li class="text-muted text-right">40.00 €</li>
                            </ul>
                            <a href="product1" class="h2 text-decoration-none text-dark">Anillo Egipto</a>
                            <p class="card-text">
                                Precioso anillo de hombre en Plata de Ley.
                                Estampado egipcio en relieve.
                            </p>
                            <p class="text-muted">Reseñas (23)</p>
                        </div>
                    </div>
                </div>
                <!-- Product 2-->
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="product2">
                            <img src="assets/img/product2_image01.JPG" class="card-img-top" alt="Women with Luna ring">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li class="text-muted text-right">25.00 €</li>
                            </ul>
                            <a href="product2" class="h2 text-decoration-none text-dark">Anillo Luna</a>
                            <p class="card-text">
                                Sofisticado y espiritual.
                                El anillo luna contiene una piedra lunar insertada en un precioso diseño en plata.
                            </p>
                            <p class="text-muted">Reseñas (40)</p>
                        </div>
                    </div>
                </div>
                <!-- Product 3-->
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a th:href="product3">
                            <img src="assets/img/product3_image03.JPG" class="card-img-top" alt="Green ring">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">

                                <li class="text-muted text-right">540.00 €</li>
                            </ul>
                            <a th:href="product3" class="h2 text-decoration-none text-dark">Anillo Gecco</a>
                            <p class="card-text">
                                Sofisticado y chapado en oro. Anillo promesa o de compromiso con esmeralda.
                            </p>
                            <p class="text-muted">Reseñas (74)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Featured Product -->


    <!-- Start Footer -->
    <th:block th:replace="footer.html :: footer" />

    <!-- End Footer -->

    <!-- Start Script -->
    <script src="assets/js/jquery-1.11.0.min.js"></script>
    <script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/templatemo.js"></script>
    <script src="assets/js/custom.js"></script>
    <!-- End Script -->
    <script src="cart.js"></script>
    <script>
  window.addEventListener('load', function() {
    const urlParams = new URLSearchParams(window.location.search);
    const firstName = urlParams.get('firstName');
    const lastName = urlParams.get('lastName');

    if (firstName && lastName) {
      alert(`¡Bienvenido ${firstName} ${lastName}!`);
    }
  });
</script>

</body>

</html>