<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - II just another Css tabs (:checked)</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="assets/css/profile.css">
  <link rel="apple-touch-icon" href="assets/img/apple-icon.png">
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/templatemo.css">
  <link rel="stylesheet" href="assets/css/custom.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>
<body>
<!-- Start Top Nav -->
<th:block th:replace="nav.html :: nav" />
<!-- Close Top Nav -->
</body>

<!-- Header -->

<!-- partial:index.partial.html -->
<section>
<input type="radio" id="profile" value="1" name="tractor" checked='checked' />    
<input type="radio" id="settings" value="2" name="tractor" />
<input type="radio" id="posts" value="3" name="tractor" />

  <nav>   
  <label for="profile" class='fa fa-user'></label>
  <label for="settings" class='fa fa-suitcase'></label>
  <label for="posts" th:if="${adminRole}" class='fa fa-bug'></label>
  </nav>
  
  <article class='uno'>
    <h2 class="text-center mt-2">
      <b th:text="${firstName} + ' ' + ${lastName}"></b>
    </h2>
    <h2 class="text-center mt-2">
    <b th:text="Email +': ' + ${userEmail}"></b>
    </h2>
    <h2>
      <button onclick="window.location.href='/logout';">Logout</button>
    </h2>


  </article>

  <article class='dos fa fa-wrench'>
    <table class="table table-light">
      <tbody>
      <tr th:each="order: ${userOrders}">
        <table class="table table-light">
          <thead>
          <th>Order Id</th>
          </thead>
          <tbody>
          <td th:text="${order.value.orderID}"></td>
          <td><button th:id="fetchButton" class="myButtonClass" style="background-color: red; color: white;" type="button" th:onclick="report([[${order.value.orderID}]])">Report</button></td>
          <table class="table table-light">
            <tbody>
            <tr th:each="product: ${order.value.productos}">
              <td> <img th:src="${product.imagen}" alt="Imagen del producto" width="50" height="50"></td>
              <td th:text="${product.titulo}"></td>
              <td th:text="${product.precio}"></td>
            </tr>
            </tbody>
          </table>
          </tbody>
        </table>
      </tr>
      </tbody>
    </table>
  </article>

  <article class='tres fa fa-beer'>
    <table class="table table-light">
      <thead>
        <th>User Name</th>
        <th>Order ID</th>
        <th>Report Message</th>
      </thead>
      <tbody>
        <tr th:each="report: ${reports}">
          <td th:text="${report.userName}"></td>
          <td th:text="${report.orderID}"></td>
          <td th:text="${report.reportMsg}"></td>
        </tr>
      </tbody>
    </table>
  </article>
  


  <article class='cuatro fa fa-copy'>
    <dl>
      <dt>Guía de Transiciones Css</dt>
      <dd>Todas y cada una de las propiedades css que componen el grupo de las transitions con demos.</dd>
      <dt>@Font-face y sus problemas</dt>
      <dd>Los problemas más comunes y sus soluciones, que suelen presentarse al utilizar la regla @font-face de Css para mostrar los textos en tipografías distintas a las safety fonts.</dd>
    </dl>
  </article>
</section>


<div id="myDialog">
  <div class="dialog-content">
      <label for="userInput">Explica tu reporte:</label>
    <input type="text" id="userInput">
    <br>
    <button id="saveMessageButton">Save</button>
    <button onclick="closeDialog()">Cancel</button>
  </div>
</div>

<th:block th:replace="footer.html :: footer" />
<!-- End Footer -->
<script src="assets/js/jquery-1.11.0.min.js"></script>
<script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/templatemo.js"></script>
<script src="assets/js/custom.js"></script>
<script>

  function report(orderId) {
    var popup = document.getElementById("myDialog");
    popup.style.display = "block";
    var saveMessageButton = document.getElementById("saveMessageButton").onclick = function() {
      var message = document.getElementById("userInput").value;
      console.log(message);
      popup.style.display = "none";
      let orderData = {
        orderID: orderId,
        reportMsg: message,
      };
      fetch('/api/reportOrder', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(orderData),
      }).then((response) => response.json()).then((data) => {
        console.log('Pedido creado con éxito:', data);
        // Aquí puedes agregar la lógica para mostrar un mensaje de éxito al usuario y/o redirigir a otra página
      }).catch((error) => {
        console.error('Error:', error);
      });
    }
  }
  function closeDialog() {
    document.getElementById("myDialog").style.display = "none";
  }
</script>
</body>
</html>
