/* styles.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1170px;
    margin: auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

table thead th {
    text-align: left;
    padding: 12px 0;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}

table tbody tr:nth-child(odd) {
    background-color: #f4f4f4;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

table tbody td {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    table thead {
        display: none;
    }

    table tbody tr {
        display: block;
        margin-bottom: 30px;
    }

    table tbody td {
        display: block;
        text-align: right;
        padding: 10px;
        border: none;
    }

    table tbody td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        color: #333;
    }
    .back-btn {
      /* Customize your button appearance here */
      background-color: #f44336;
      border: none;
      color: white;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      padding: 10px 24px;
      text-decoration: none;
      transition-duration: 0.4s;
    }

    .back-btn:hover {
      background-color: #d7372d;
      color: white;
    }

}
